blinker==1.9.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961399696/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792995/work
chardet==3.0.4
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744960410/work
click==8.3.2
colorama==0.4.4
filelock @ file:///C:/Users/task_176943984631162/croot/filelock_1769440568457/work
Flask==3.1.3
Flask-Cors==3.0.10
flask-talisman==1.0.0
fsspec==2026.3.0
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748183167/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912000545/work
itsdangerous==2.2.0
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592917950/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593166070/work
mpmath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mpmath_1699484863771/work
networkx @ file:///C:/miniconda3/conda-bld/networkx_1765378655825/work
numpy @ file:///C:/Users/task_177399616981653/croot/numpy_and_numpy_base_1773996237489/work/dist/numpy-2.4.3-cp312-cp312-win_amd64.whl#sha256=314ca41bafa7c8df05dce170faee1868132fd4c6de3b3ff2bcfa5cd826dcbd68
oauthlib==3.1.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049137378/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1771409001/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pyarrow==23.0.1
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496054990/work
PyJWT==1.7.1
pyparsing==2.4.7
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==0.19.0
pytz==2019.3
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612354/work
requests-oauthlib==1.3.0
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
soupsieve==2.0
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762977930/work
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tweepy==3.8.0
twilio==6.38.0
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///C:/Users/task_176781037409812/croot/urllib3_1767810504598/work
Werkzeug==3.1.8
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
