<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home | Projects</title>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="./static/assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon1.png') }}">
  <link href="./static/main.82cfd66e.css" rel="stylesheet">
</head>

<body>

<!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Mashup Template</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
        <a class="site-brand" href="./index.html" title="">
          <img class="img-responsive site-logo" alt="" src="./static/assets/images/mashup-logo.svg">
          Hello There!
        </a>
        <p>
          Welcome to the website. Take your time and enjoy it. Feel free to contact me.
        </p>
      </div>
      <ul class="nav">
        <li><a href="./index.html" target="_blank" title="">Home</a></li>
        <li><a href="./about.html" target="_blank" title="">About</a></li>
        <li><a href="{{ url_for('static', filename='./docs/Curriculum_Vitae_Abhishek_Dhiman.pdf') }}" target="_blank" title="">Curriculum_Vitae</a></li>
        <li><a href="./Certifications.html" target="_blank" title="">Certifications</a></li>
        <li><a href="./contact.html" target="_blank" title="">Contact</a></li>
        <!-- Commenting out components page -->
        <!--li><a href="./components.html" title="">Components</a></li-->

      </ul>

      <nav class="nav-footer">
        <p>© Resource | Website created with <a href="http://www.mashup-template.com/" title="Create website
        with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>
    </div>
  </nav>
</header>
<main class="" id="main-collapse">

  <!-- Add your site or app content here -->

  <div class="hero-full-wrapper">
    <div class="grid">
      <div class="gutter-sizer"></div>
          <div class="grid-sizer"></div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="./static/assets/images/Octree_tree.png">
        <a href="./master_thesis.html" target="_blank" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h4>Master Thesis at Siemens Energy AB</h4>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-item">
        <img class="img-responsive" alt="" src="./static/assets/images/cfd_assignments.png">
        <a href="./CFD_Assignments.html" target="_blank" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h4>Master's Degree CFD Assignments</h4>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>


      <div class="grid-item">
        <img class="img-responsive" alt="" src="./static/assets/images/project1_1.png">
        <a href="./bachelor_thesis.html" target="_blank" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h4>Shockwave Boundary Layer Interaction</h4>
              <p>Discover more</p>
            </div>
 